<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <span>Your name:</span>
    <input type="text" v-model="name" />

    <span>Your surname:</span>
    <input type="text" v-model="surname" />

    <span>Your title:</span>
    <input type="text" v-model="title" />

    <button type="button" v-on:click="onClick({name, surname, title})">Zapisz</button>  
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name: '',
        surname: '',
        title: ''
      },
      methods: {
        onClick: function(value) {
          console.log(`name: ${value.name}`);
          console.log(`surname: ${value.surname}`);
          console.log(`title: ${value.title}`);
        }
      }
    });
  </script>
</body>
</html>